{
    margin: 0px;
}
.dialog
{
  margin: auto;
  background-color: white;
  max-width: 300px;
  margin-top: -100px;
  padding: 5%;
  width: 90%;
  box-shadow: 0px 0px 10px blue;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: 2s; 
}
.bWrapper
{
  margin-top: 25px;
}
.button
{
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  color: gold;
}
.button .done{
  padding: right;
}
.overlay
{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  top: 0px;
}
.alert .cancel, .alert input, .confirm input
{
  display: none;
}